:root {
    --font-family: "Open Sans", sans-serif;
    --second-family: "Motiva Sans", sans-serif;
    --third-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

.body {
    width: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(180deg, #040011 0%, #202b3c 100%, #202b3c 100%);
    flex-direction: column;

}
.body__game {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(180deg, #040011 0%, #202b3c 100%, #202b3c 100%);
    flex-direction: column;

}

.header {
    display: flex;
    width: 100%;
    height: 59px;
    background: #0e141b;
}

.nav__container {
    display: flex;
    gap: 52px;
    margin-left: 94px;
    margin-top: 18px;
}

.logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.active__button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #66c0f4;
}

.static__button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #f3f3f3;
}

.header__form {
    margin-top: 10px;
    margin-left: 79px;
}

.header__search {
    border-radius: 3px;
    width: 351px;
    height: 36px;
    background: #212b45;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.buttons__container {
    display: flex;
    margin-top: 10px;
    margin-left: 39px;
    gap: 10px;
}

.button {
    border-radius: 3px;
    width: 56px;
    height: 37px;
    background: #1e2329;
}

.tracking__button--image {
    margin-top: 6px;
    margin-left: 15px;
    background: url(./People.svg);
    width: 25px;
    height: 25px;
}

.notification__button--image {
    margin-top: 6px;
    margin-left: 15px;
    background: url(./Notifications.svg);
    width: 25px;
    height: 25px;
}

.profile__button {
    border-radius: 3px;
    width: 210px;
    height: 39px;
    background: #1e2329;
    display: flex;
    gap: 16px;
}

.profile__button--image {
    border-radius: 2px;
    width: 31px;
    height: 31px;
    margin-top: 4px;
    margin-left: 13.5px;
    background: url(./Sprite-00031.png);
}

.profile__button--user-name {
    margin-top: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #f3f3f3;
}

.profile__rating--container {
    margin-top: 10px;
    width: 42px;
    white-space: nowrap;
    flex-direction: row;
    display: flex;
}

.profile__button--rating-dynamic {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #3dea00;
}

.profile__button--rating-static {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #76808c;
}

.main__picture {
    width: 1920px;
    height: 636px;
    background: url(./main.png);
}

.title__rec {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #f3f3f3;
    margin-top: 130px;
    margin-left: 266px;
}

.rec__slide {
    border-radius: 5px;
    padding: 15px;
    width: 1281px;
    height: 489px;
    background: #0e141b;
    display: flex;
}

.swiper {
    width: 1330px;
    height: 489px;
}

.swiper-pagination-bullet {
    background: #4b619b;
    border-radius: 40px;
    width: 35px;
    height: 8px;
}

.slide__image {
    border-radius: 3px;
    width: 766px;
    height: 458px;
    background: url(./image48.png);
}

.slide__container {
    width: 468px;
    height: 229px;
    display: flex;
    flex-direction: column;
    margin-left: 17px;
}

.title__slide {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    color: #f3f3f3;
    margin-top: 0px;
}

.slide__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #f3f3f3;
    margin-top: 0px;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(2, 231px);
    grid-template-rows: repeat(2, 111px);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
}

.grid__elem--1 {
    border-radius: 3px;
    width: 231px;
    height: 111px;
    background: url(./image49.png);
}

.grid__elem--2 {
    border-radius: 3px;
    width: 231px;
    height: 111px;
    background: url(./image50.png);
}

.grid__elem--3 {
    border-radius: 3px;
    width: 231px;
    height: 111px;
    background: url(./image51.png);
}

.grid__elem--4 {
    border-radius: 3px;
    width: 231px;
    height: 111px;
    background: url(./image52.png);
}

.style__container {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.style__block {
    display: flex;
    border-radius: 3px;
    height: 32px;
    background: #1e2329;
    padding-left: 13px;
    padding-right: 13px;
}

.style__name {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #76808c;
}

.style__add {
    align-items: center;
    align-self: center;
    background: url(./Vector.svg);
    width: 11px;
    height: 11px;
}

.slide__footer--container {
    display: flex;
    flex-direction: row;
    margin-top: 17px;
}

.slide__favorite--button {
    border-radius: 3px;
    width: 161px;
    height: 44px;
    background: #1e2329;
    display: flex;
}

.favorite__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #f3f3f3;
    margin-top: 11px;
    margin-left: 20px;
}

.favorite__icon {
    background: url(./Favoriteborder.svg);
    width: 25px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
}

.slide__rating {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    color: #f3f3f3;
    margin-left: 62px;
    margin-top: 9.5px;
}

.slide__rating--dynamic {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    color: #3dea00;
    margin-top: 9.5px;
    margin-left: 5px;
}

.slide__button--review {
    border-radius: 3px;
    width: 122px;
    height: 44px;
    display: flex;
    background: #4b619b;
    margin-left: 13px;
}

.review__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #f3f3f3;
    margin-top: 11px;
    margin-left: 26.5px;
}

.container__release {
    margin-left: 266px;
    margin-top: 74px;
    display: flex;
    flex-direction: row;
    gap: 1161px;
}

.title__release {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #f3f3f3;
}

.show-more {
    border: 1px solid rgba(118, 128, 140, 0.2);
    border-radius: 3px;
    width: 149px;
    height: 33px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #76808c;
    background: rgba(118, 128, 140, 0.2);
}

.main__swiper {
    width: 1330px;
    height: 416px;
    margin-top: 30px;

}

.release__slide {
    width: 1279px;
    height: 338px;
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-left: 10px;

}

.item__card {
    border-radius: 5px;
    width: 409px;
    height: 338px;
    background: #0e141b;
    display: flex;
    flex-direction: column;
}

.card__image {
    background: url(./image9.png);
    border-radius: 3px;
    width: 379px;
    height: 197px;
    margin-top: 15px;
    margin-left: 15px;
}

.card__name {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    color: #f3f3f3;
    margin-left: 15px;
    margin-top: 18px;
}

.card__elem--container {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 18px;
}

.win__logo {
    background: url(./1vector.svg);
    width: 21px;
    height: 22px;
    margin-top: 7px;
}

.release-date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #76808c;
    margin-top: 11px;
    margin-left: 12px;
}

.rating__block {
    border-radius: 3px;
    width: 60px;
    height: 39px;
    background: #a1cd44;
    margin-left: 25px;
}

.rating__number {
    text-align: center;
    margin-top: 6px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    color: #000;
}

.message-count {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    width: 91px;
    margin-top: 4px;
    margin-left: 25px;
}

.slide__favorite--button--small {
    border-radius: 3px;
    width: 47px;
    height: 44px;
    background: #1e2329;
    margin-left: 20px;
}

.container__free {
    margin-left: 266px;
    margin-top: 74px;
    display: flex;
    flex-direction: row;
    gap: 1058px;
}

.card__image--D2 {
    border-radius: 3px;
    width: 379px;
    height: 197px;
    margin-top: 15px;
    margin-left: 15px;
    background: url(./image149.png);
}

.card__image--HI {
    border-radius: 3px;
    width: 379px;
    height: 197px;
    margin-top: 15px;
    margin-left: 15px;
    background: url(./image1265.png);
}

.card__image--TF2 {
    border-radius: 3px;
    width: 379px;
    height: 197px;
    margin-top: 15px;
    margin-left: 15px;
    background: url(./image12313.png);
}

.container__trand {
    gap: 1152px;
    margin-left: 266px;
    margin-top: 74px;
    display: flex;
    flex-direction: row;
}

.card__image--CS2 {
    border-radius: 3px;
    width: 379px;
    height: 197px;
    margin-top: 15px;
    margin-left: 15px;
    background: url(./ck2.png);
}

.card__image--WM {
    border-radius: 3px;
    width: 379px;
    height: 197px;
    margin-top: 15px;
    margin-left: 15px;
    background: url(./imagewlm.png);
}

.card__image--TB {
    border-radius: 3px;
    width: 379px;
    height: 197px;
    margin-top: 15px;
    margin-left: 15px;
    background: url(./imagetb.png);
}

.container__leaders {
    gap: 1072px;
    margin-left: 266px;
    margin-top: 74px;
    display: flex;
    flex-direction: row;
}

.footer {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    background: #1e2329;
    height: 325px;
    margin-top: 143px;
}

.footer__first--container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 46px;
    margin-left: 762px;
}

.footer__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #f3f3f3;
}

.footer__second--container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 46px;
    margin-left: 155px;
}

.social__f {
    border-radius: 3px;
    width: 47px;
    height: 47px;
    background: rgba(118, 128, 140, 0.05);
    align-content: center;
    margin-left: 246px;
    margin-top: 53px;


}

.social__x--logo {
    background: url(./x.png);
    width: 21px;
    height: 22px;
    margin-left: 10px;
}

.social__f--logo {
    background: url(./f.png);
    margin-left: 17px;
    width: 14px;
    height: 26px;

}

.social__x {
    border-radius: 3px;
    width: 47px;
    height: 47px;
    background: rgba(118, 128, 140, 0.05);
    align-content: center;
    margin-top: 53px;
    margin-left: 13px;
}

.title__game{
        font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    color: #f3f3f3;
    margin-top: 9px;
}
.title__container{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-left: 205px;
    gap: 1230px;
}
.game__main--block{
    display: flex;
    flex-direction: row;
}